/* DropDownContent.css */
.dropdown-content {
    position: absolute;
    background-color: #fff;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 4px;
    margin-top: 5px; 
    left: 235px;
    border: 1px solid gray;

  }

  .dropdown-content::before{
    content: '';
    position: absolute;
    top: -0.35rem;
    left: 0.8rem;
    width: 10px;
    z-index: 1;
    height: 10px;
    transform: rotate(45deg);
    background-color: white;
  }
  
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #f1f1f1;
    }
  }
  